<h1 class="text-center mb-3">Result</h1>

<div class="card text-bg-secondary mb-3 text-center mt-5">
    <div class="card-header">Shortened URL</div>
    <div class="card-body">
      <h5 class="card-title">You may copy the Shortened URL</h5>
      <p class="card-text">Your shortened url is <a href="/app/<%= url.urlCode %>" target="_blank"><%= url.shortUrl %></a></p>
      <p class="card-text">The Original url is <a href="<%= url.longUrl %>" target="_blank"><%= url.longUrl %></a></p>
    </div>
</div>